.logout-item-container {
  display: flex;
  justify-content: left;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 3px;
}

.logout-item {
  width: 60px;
  text-align: left;
  margin-right: 10px;
  font-family: '-SFCompactRounded-Medium', sans-serif;
  font-size: 13pt;
  font-weight: bolder;

  &.description {
    width: auto;
    color: #406fc9;
  }
}

.button-container {
  margin: 20px 0;
}

.logout-item-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 30pt;
  color: #406fc9;
}
